.map-container {
  height: 90vh !important;
  width: 80% !important;
}

.map-station-wrapper-list {
  width: 20%;
  height: 90vh !important;
  overflow: auto;
}

.gm-style-iw {
  max-width: 280px !important;
  width: 100%;
}

.infowindow-desc {
  font-size: 16px;
}

.infowindow-span {
  font-size: 15px;
  font-weight: 600;
  color: #488dfc;
}

.infowindow-desc-not-last-data {
  font-size: 17px !important;
}

.list-group-item {
  cursor: pointer;
}

.admin-map-search {
  padding: 0 10px;
  padding-bottom: 20px;
  max-width: 250px;
}

.admin-map-search > input {
  padding-top: 3px;
  padding-bottom: 3px;
}

.active-user-map {
  background: #0CC0CE !important;
  color: white;
}