@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.user-lastdata-heading {
  font-size: 32px;
  font-weight: 500;
  margin: 0;
  color: #000000;
}

.user-lastdata-select-station-name {
  max-width: 250px;
}

.user-lastdata-select-station-count {
  max-width: 80px;
}

.user-last-data-list-item {
  max-width: 350px;
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  cursor: pointer;
}

.user-last-data-list-item > a {
  color: #000000;
  text-decoration: none;
}

.user-last-data-list-item:nth-child(1) .user-last-data-list-item-top div p  {
  color: limegreen;
  font-size: 19px;
  font-weight: 500;
}

.user-last-data-list-item-href {
  display: inline-block;
  width: 100%;
  height: 3px;
  color: red;
  background: limegreen;
}

.userlast-data-bottom-modal {
  display: none;
}

.userlast-data-bottom-modal-header {
  cursor: pointer;
  overflow: auto;
}

/* ! PAGINATION */
.user-last-data-table-wrapper > ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.user-last-data-table-wrapper > ul > li {
  margin: 0 15px;
  background: #0CC0CE;
  color: #ffffff;
  padding: 3px 10px;
  border-radius: 10px;
}

.profile-search-station > ul > li {
  margin: 0 15px;
  background: #0CC0CE !important;
  color: #ffffff !important;
  padding: 3px 10px;
  border-radius: 10px;
}

.profile-search-station > ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.profile-search-station > ul > li {
  margin: 0 15px;
  background: #377BE8;
  color: #ffffff;
  padding: 3px 10px;
  border-radius: 10px;
}

.previous > a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
}

.next > a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
}

.pagination__link--active {
  background: #ffffff !important;
  color: #0CC0CE !important;
  border: 2px solid #0CC0CE;
}