@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.user-lastdata-heading {
  margin: 0;
  color: #0cc0ce;
}

.user-lastdata-select-station-name {
  max-width: 250px;
}

.user-lastdata-select-station-count {
  max-width: 80px;
}

.user-last-data-list-item {
  max-width: 350px;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  cursor: pointer;
}

.user-last-data-list-item:nth-child(1) .user-last-data-list-item-top div p  {
  color: limegreen;
  font-size: 19px;
  font-weight: 500;
}

.user-last-data-list-item-href {
  display: inline-block;
  width: 100%;
  height: 5px;
  color: red;
  background: limegreen;
}

.userlast-data-bottom-modal {
  display: none;
}

.card--open .userlast-data-bottom-modal {
  padding: 10px 20px;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 40vh;
  background: #ffffff;
  border: 3px solid #32779C;
}

.userlast-data-bottom-modal-header {
  cursor: pointer;
  overflow: auto;
}